code-input {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  gap: 0.625rem !important; /* 2.5 */
}

@media (min-width: 640px) {
  code-input {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1024px) {
  code-input {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
  }
}

code-input span:first-child {
  padding-left: 0 !important;
}

code-input span {
  padding-right: 0 !important;
}

code-input input {
  background-color: #f8fafc !important;
  color: #475569 !important;
  border-radius: 0.375rem !important;
  text-align: center !important;
  border-color: #e2e8f0 !important;
  border-width: 1px !important;
  border-style: solid !important;
  outline: none !important;
  padding: 0.5rem !important;
  width: 100% !important;
  height: 48px !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  font-family: inherit !important;
  font-feature-settings: inherit !important;
  font-variation-settings: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important;
  margin: 0 !important;
}

.error-border {
  border-color: #f44444 !important;
}

code-input input:focus {
  box-shadow:  0 0 0 3px rgba(219, 234, 254, 1) !important;
  border-color: #3b82f6 !important;
  outline: none !important;

}

code-input input::placeholder {
  color: #94a3b8 !important;
}

/* Custom styles for SweetAlert2 HTML content */
.swal2-container .swal2-title {
  padding-top: 0.5rem !important;
}

div:where(.swal2-container) .swal2-html-container {

  font-size: 16px !important;
  --tw-text-opacity: 1 !important;
  color: rgb(100 116 139 / var(--tw-text-opacity)) !important;
  font-weight: 500 !important;

}

div:where(.swal2-container) img:where(.swal2-image) {
  max-width: 40% !important;
  margin: 2rem auto auto !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  padding-bottom: 2rem !important;
}
